<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:theme="@style/Theme.OMRApplication">
        <activity android:name=".CameraActivity" android:exported="true"/>
        <activity android:name=".SurveyActivity" android:exported="true"/>
        <activity android:name=".ChatbotActivity" android:exported="true"/>
        <activity android:name=".HomeActivity" android:exported="true"/>
        <activity android:name=".FeedActivity" android:exported="true"/>
        <activity android:name=".CartActivity" android:exported="true"/>
        <activity android:name=".TargetActivity" android:exported="true"/>
        <activity android:name=".ProfileActivity" android:exported="true"/>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>